html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
